HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Web Configuration ###
!backend/src/main/java/com/toyproject/hyeonworld/configuration/web/WebConfig.java
!frontend/src/configuration/web/WebConfig.ts

### Special ###
frontend/src/configuration/special/SpecialConfig.ts

### Various properties ###
*.properties
!backend/src/main/resources/application.properties
!backend/gradle/wrapper/gradle-wrapper.properties

!frontend/tsconfig.json

nohup.out

### Test ###
/src/test/*

react.log
java.log